/* 公共样式
*/
div.ui-loader{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
}
.ui-loader span.ui-icon-loading{
    margin-top: -1.4375em;
    margin-left: -1.4375em;
    left: 50%;
    top: 50%;
    position: fixed;
}

.clearfix:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
/* ---------------------------------- */

/* personal page
*/
#personalPage #tixianCollapsible .ui-collapsible-content{
    padding-left: 0.325em;
    padding-right: 0.325em;
}

/* ---------------------------------- */

/* ---------- my order list page */

.text-success{
    color:green;
}

.hidden{
    display:none;
}

.custom-corners .ui-bar {
      -webkit-border-top-left-radius: inherit;
      border-top-left-radius: inherit;
      -webkit-border-top-right-radius: inherit;
      border-top-right-radius: inherit;
}
.custom-corners .ui-body {
      border-top-width: 0;
      -webkit-border-bottom-left-radius: inherit;
      border-bottom-left-radius: inherit;
      -webkit-border-bottom-right-radius: inherit;
      border-bottom-right-radius: inherit;
    font-size:12px;

}